@import './styleVariables.css';
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  font-family: 'Bebas Neue', sans-serif;
  /* font-family: 'Open Sans', sans-serif; */
}
.pages {
  /* flex: 1 0 auto; */
  max-width: 1280px;
  margin: 0 auto;
}
/* === NAVBAR === */

#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  max-height: 100px;
  color: var(--light-font);
  padding: 1rem 0.5rem;
  transition: background-color 0.2s ease-in-out;
}

/* Navbar logo section */
#navbar-logo-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 1.2rem;
}
/* remove styles from links in navbar logo container */

#navbar-logo-container > a {
  text-decoration: none;
  color: inherit;
  margin: 0 1rem;
}

/* Navbar links section */
#navbar-links {
  font-size: 1.4rem;
  display: flex;
  align-self: flex-start;
}

/* #navbar-links > li:last-child {
  background-color: red;
} */

#navbar-links > li {
  list-style: none;
  padding: 0.5rem;
  border-radius: 20px;
  transition: background-color 0.3s ease-in-out;
}

#navbar-links > li:hover {
  background-color: rgba(128, 128, 128, 0.3);
}

#navbar-links > li > a {
  /* font-family: 'Open Sans', sans-serif; */
  font-size: 1.4rem;
  text-decoration: none;
  color: inherit;
  margin: 0 1rem;
}

footer {
  flex-shrink: 0;
  background-color: pink;
  width: 100vw;
}
