@import './styleVariables.scss';
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  font-family: 'Bebas Neue', sans-serif;
  /* font-family: 'Open Sans', sans-serif; */
}
img {
  max-width: 100%;
}
#app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.pages {
  flex: 1 0 auto;
  width: 100%;
}
.contents {
  max-width: 1280px;
  padding: 0 3rem;
  // overflow: hidden;

}
.heros {
  padding-top: 100px;
  color: var(--light-font);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  @media screen and (max-width: 400px) {
    padding-top: 50px;
  }
}
#particles {
  position: absolute;
  z-index: -1;
}

/* === NAVBAR === */

#navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  transition: background-color 0.2s ease-in-out;
  z-index: 100;
  .contents {
    margin: auto;
    // color: inherit;
    max-height: 100px;
    padding: 1rem 0.5rem;
    // background-color: pink;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    

    #logo-container {
      // background-color: red;
      display: flex;
      flex-direction: row;
      align-items: center;
      font-size: 1.2rem;
      a {
        text-decoration: none;
        color: inherit;
        margin: 0 1rem;
      }
    }
    #hamburger {
      display: none;
      width: 30px;
      height: 3px;
      background-color: var(--light-font);
      position: relative;
      border-radius: 2px;
      &::before, &::after {
        position: absolute;
        content: '';
        width: 30px;
        border-bottom: 3px solid var(--light-font);
        border-radius: 2px;
      }
      &::before {
        top: -8px;
      }
      &::after{
        top: 8px;
      }
    }
    #links {
      font-size: 1.4rem;
      display: flex;
      align-self: flex-start;

      li {
        list-style: none;
        padding: 0.5rem;
        border-radius: 20px;
        transition: background-color 0.3s ease-in-out;

        // &:last-child {
        //   background-color: red;
        // }

        &:hover {
          background-color: rgba(128, 128, 128, 0.3);
        }

        a {
          // font-size: 1.4rem;
          text-decoration: none;
          color: inherit;
          margin: 0 1rem;
        }
      }
    }
    @media screen and (max-width: 400px) {
      padding: .5rem .5rem;
        #hamburger {
          display: block;
        }
        // TO DO: look into why this parent class is being recognized still by the DOM
        .wide{
          display: none;
          width: 0;
        }
    }
  }
}

// === FOOTER ===

footer {
  // flex-shrink: 0;
  // flex-grow: 0;
  // flex-basis: auto;
  background-color: var(--footer-background);
  width: 100vw;
  display: flex;
  justify-content: center;
  .contents {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 2rem 3rem;
    #company-contact {
      h4 {
        font-family: var(--title-font);
        font-size: 2rem;
        margin-bottom: 0.5rem;
      }
      p {
        font-family: var(--body-font);
        font-size: 1.2rem;
        margin-bottom: 0.2rem;
        margin-left: 1.5rem;
      }
    }
    #offices {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      div {
        margin: 0 1rem;
        h4 {
          font-family: var(--title-font);
          font-size: 1.5rem;
        }
        p {
          font-family: var(--body-font);
        }
      }
    }
  }
}
