* {
  --light-font: rgb(246, 245, 244);
  --dark-font: rgb(0, 0, 0);

  --accent-color: red;

  --title-font: 'Bebas Neue', sans-serif;
  --body-font: sans-serif;

  --nav-background: rgb(246, 245, 244);
  --footer-background: rgb(200, 174, 174);
}
