* {
  box-sizing: border-box;
}
#root {
  box-sizing: border-box;
  margin: auto;
  max-width: 1280px;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: antiquewhite;
  padding: 2rem;
}

#navbar {
  display: flex;
  background-color: pink;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
}
#navbar > ul {
  display: flex;
}
#navbar > ul > li {
  margin-right: 20px;
}
main {
  flex: 1 0 auto;
  /* width: 100%; */
}
footer {
  flex-shrink: 0;
  background-color: pink;
  width: 100vw;
}

/* === CONTACT === */
#contact {
  background-color: white;
  border: 2px solid black;
  border-radius: 10px;
  width: 100%;
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  padding: 2rem;
}
#contact-blurb {
  text-align: center;
  width: 50%;
  padding: 1rem;
}
#contact-form {
  display: flex;
  flex-direction: column;
  background-color: antiquewhite;
  border: 1px solid wheat;
  border-radius: 10px;
  width: 50%;
  padding: 1rem;
}
#contact-submit-button {
  width: fit-content;
}

/* === OUR WORK === */
#our-work {
  background-color: white;
  border: 2px solid black;
  border-radius: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}

/*  === CARD === */
.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
}
.card {
  background-color: antiquewhite;
  border: 1px solid wheat;
  border-radius: 10px;
  /* width: 100%; */
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}
.card > img {
  max-width: 100%;
}
