* {
  box-sizing: border-box;
}
#root {
  box-sizing: border-box;
  margin: auto;
  max-width: 1280px;
  min-height: 100vh;
  /* this is just here to move the hero to a visible position, it will need to change when layout gets more finalized */
  padding-top: 100px;

  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: antiquewhite;
  padding: 2rem;
}

#navbar {
  display: flex;
  background-color: pink;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
}
#navbar > ul {
  display: flex;
}
#navbar > ul > li {
  margin-right: 20px;
}
main {
  flex: 1 0 auto;
  /* width: 100%; */
}
footer {
  flex-shrink: 0;
  background-color: pink;
  width: 100vw;
}

/* CONTACT */
#contact {
  background-color: red;
  width: 100%;
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  padding: 2rem;
}
#contact-blurb {
  text-align: center;
  background-color: pink;
  max-width: 50%;
}
