@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Bebas Neue', sans-serif;
  /* font-family: 'Open Sans', sans-serif; */
}

#root {
  box-sizing: border-box;
  margin: auto;
  max-width: 1280px;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: antiquewhite;
  padding: 2rem;
}

#navbar {
  display: flex;
  background-color: pink;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
}
#navbar > ul {
  display: flex;
}
#navbar > ul > li {
  margin-right: 20px;
}
main {
  flex: 1 0 auto;
  /* width: 100%; */
}
#hero {
  margin-top: 100px;
  background-color: transparent;
  position: relative;
  
}
#particles {
  position: absolute;
 
}
#hero-text {
  color: rgb(246, 245, 244);
  padding: 1rem;
  background-color: transparent;
  position: absolute;
  margin-left: 2.3rem;
  
}
#hero-text > h1 {
  font-size: 3rem;
  margin: 0;
  text-align: center;
}
footer {
  flex-shrink: 0;
  background-color: pink;
  width: 100vw;
}

/* === CONTACT === */
#contact {
  background-color: white;
  border: 2px solid black;
  border-radius: 10px;
  width: 100%;
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  padding: 2rem;
}
#contact-blurb {
  text-align: center;
  width: 50%;
  padding: 1rem;
}
#contact-form {
  display: flex;
  flex-direction: column;
  background-color: antiquewhite;
  border: 1px solid wheat;
  border-radius: 10px;
  width: 50%;
  padding: 1rem;
}
#contact-submit-button {
  width: fit-content;
}

/* === OUR WORK === */
#our-work {
  background-color: white;
  border: 2px solid black;
  border-radius: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}

/*  === CARD === */
.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
}
.card {
  background-color: antiquewhite;
  border: 1px solid wheat;
  border-radius: 10px;
  /* width: 100%; */
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}
.card > img {
  max-width: 100%;
}

/*  === ABOUT US === */
#about-us {
  width: 55%;
  min-width: 300px;
  padding: 2rem;
}
@media screen and (min-width: 768px) {
  #about-us > h2 {
    font-size: 2.4rem;
  }
}
