#home-page-container {
  flex: 1 0 auto;
  max-width: 1280px;
  /* background-color: red; */
}

/* === HERO === */

#hero {
  margin-top: 200px;
}
#particles {
  position: absolute;
  z-index: -1;
}
#hero-text {
  color: var(--light-font);
  padding: 1rem;
}
#hero-text > h1 {
  font-size: 3rem;
  margin: 0;
  text-align: center;
}
#hero-text h1 {
  font-size: 4rem;
}
/* === ABOUT US === */
#about-us {
  text-align: center;
  /* width: 55%; */
  min-width: 300px;
  padding: 2rem;

  color: rgb(246, 245, 244);
}
@media screen and (min-width: 768px) {
  #about-us > h2 {
    font-size: 2.4rem;
  }
}
#about-us h2 {
  margin-left: 15%;
  margin-right: 15%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2rem;
}
#details-container {
}
.detail-wrapper {
  margin-top: 2rem;
  background-color: rgba(128, 128, 128, 0.3);
  border-radius: 30px;
  margin-top: 30px;
  padding: 30px;
}
.detail-content {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}
#about-user {
  flex-direction: row;
}
.detail-img img {
  border: 2px solid rgba(128, 128, 128, 0.753);
  border-radius: 30px;
}
.detail-copy {
  padding: 30px;
  text-align: justify;
  font-size: 1.2em;
}
#detail-title {
  font-size: 2rem;
}
.detail-copy p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
}

/* === CONTACT === */

#contact {
  background-color: white;
  border: 2px solid black;
  border-radius: 10px;
  width: 100%;
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  padding: 2rem;
}
#contact-blurb {
  text-align: center;
  width: 50%;
  padding: 1rem;
}
#contact-form {
  display: flex;
  flex-direction: column;
  background-color: antiquewhite;
  border: 1px solid wheat;
  border-radius: 10px;
  width: 50%;
  padding: 1rem;
}
#contact-submit-button {
  width: fit-content;
}

/* === OUR WORK === */
#our-work {
  background-color: white;
  border: 2px solid black;
  border-radius: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}

/*  === CARD === */
.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
}
.card {
  background-color: antiquewhite;
  border: 1px solid wheat;
  border-radius: 10px;
  /* width: 100%; */
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}
.card > img {
  max-width: 100%;
}
