#contact-page {
  width: 100%;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  header {
    flex: 0;
    width: 100%;
    white-space: nowrap;
    h1 {
      color: var(--light-font);
      font-size: 7rem;
    }
    @media screen and (max-width: 400px) {
      h1 {
        font-size: 4rem;
      }
    }
  }

  #form-area {
    flex: 1;
    background-color: var(--page-background);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .contents {
      flex: 1;

      width: 100%;
      // background-color: green;
      display: flex;
      flex-direction: column;
      justify-content: center;
      #contact {
        display: flex;
        font-size: 2rem;
        #contact-blurb {
          width: 50%;
          padding-right: 2rem;
          h2 {
            font-size: 3.2rem;
            color: var(--accent-color);
          }
        }
        #verticle-line {
          border-right: 2px solid var(--accent-color);
          margin-right: 2rem;
        }
        #horizontal-line {
          display: none;
          border: none;
          border-bottom: 2px solid var(--accent-color);
          margin-bottom: 2rem;
        }
        #contact-form {
          width: 50%;
          display: flex;
          flex-direction: column;

          .form-group {
            display: flex;
            width: 100%;
            margin-bottom: 1rem;
            span {
              width: 4.5rem;
            }
            input {
              font-family: var(--body-font);
              flex: 1;
              padding: 0 2rem;
              font-size: 1.5rem;
            }
          }
          #description-label {
            text-align: center;
          }
          textarea {
            font-family: var(--body-font);
            height: 5rem;
            padding: 0.5rem 1rem;
            font-size: 1.2rem;
            margin-bottom: 0.5rem;
          }
          button {
            font-size: 1.8rem;
          }
        }
      }
      @media screen and (max-width: 400px) {
        #contact {
          flex-direction: column;
          #contact-blurb {
            width: 100%;
            padding: 1rem 0;
            h2 {
              display: none;
            }
          }
          #verticle-line {
            display: none;
          }
          #horizontal-line {
            display: block;
          }
          #contact-form {
            width: 100%;
            margin-bottom: 3rem;
            .form-group {
              flex-direction: column;
              span,
              input {
                width: 100%;
              }
            }
          }
        }
      }
    }
  }
}
